body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
/*     background-color: #ffffff; */
  background-color: #fefee9;
  /* background-color: #e3e387; */
}

.banner img{
  float: left;
}
.banner {
  display:inline-block;
  background-color: #33455c;
  top: 0;
  width: 100%;
  border-bottom: 1mm solid #e3e3a7;
  border-top: 1mm solid #e3e3a7;
  height: 120px;
  position: fixed;
  z-index: 3;

}
.title {
  font-family: 'Brush Script MT', cursive;
  /* font-family: 'Times New Roman'  */
  #font-family: 'Bebas Neue', sans-serif;
  color: #e3e3a7;
  #text-transform: uppercase;
  text-align: center;
  font-size: 50px; 
}


.topnav  {
  /* overflow: hidden; */
  float: left;
  background-color: #34455c;
  color: #e3e3a7;
  width: 100%;
  height: 50px;
  position: fixed;
  padding-top:124px;
  text-align: center;
  border-bottom: 1mm solid #e3e3a7;
  z-index: 2;
  /* position: absolute; */
}

.topnav a {
  color: #e3e3a7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color:#dddda7;
  color: #04155c;
}
/*
.topnav a.split:hover {
  background-color:#dddda7;
  color: #04155c;
}
.topnav a.split {
  float: right;
  background-color: #34455c;
  color: #e3e3a7;
} */


.dropdown {
  clear:left;
  /* overflow: hidden; */
  display: inline-flex;
  flex-direction: column;
}
.dropdown .dropbtn {
  font-size: 20px;  
  border: none;
  outline: none;
  color: #e3e3a7;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  /* min-width: 150px; */
  /* max-width: 100px; */
  margin: 0;
  /* position: relative; */
}
.dropdown-content {
  display: none;
  /* position: absolute; */
  position: relative;
  background-color: #34455c;
  /* min-width: 206px; */
  /* Best I could come up with is to 'max-width' this to provent layout changes' */
  max-width: 134px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}
.dropdown-content a {
  /* float: none; */
  color: #e3e3a7;
  font-size: 16px; 
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color:#dddda7;
  color: #04155c;
}
.dropdown:hover .dropdown-content {
  display: block;
}




.maintextbody {
  position:relative;
  padding-top:170px;
  padding-bottom:10px;
  text-align: center;
}

.maintextbody2 {
  display:block;
  position:relative;
  padding-top:10px;
  padding-bottom:10px;
  width: 35%;
  margin: auto;
}

.maintextbody-home {
  display:block;
  position:relative;
  padding-top:10px;
  padding-bottom:10px;
  width: 63%;
  margin: auto;
}

.copyfooter {
  text-align: center;
  padding-bottom:50px;
  width: 63%;
  margin: auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #34455c;
  color: #e3e3a7;
  /* color: #d2d2a2; */
  text-align: center;
  border-top: 1mm solid #e3e3a7;
  padding: 13px;
  z-index: 200;
}
.footer a {
  color: #e3e3a7;
  /* color: #d2d2a2; */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}
.footer a:hover {
  /* background-color:#f1f1a8; */
  /* background-color:#e3e387; */
  background-color:#dddda7;
  /* color: #34455c; */
  color: #04155c;
}






/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  /* background-color: #04AA6D;
  color: white; */
  background-color: #34455c;
  color: #e3e3a7;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  /* background-color: #45a049; */
  background-color:#dddda7;
  color: #04155c;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  /* background-color: #fefee9; */
  padding: 187px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* .portrait {
  height: 80px;
  width: 30px;
} */
.home-img {
  height: 63%;
  width: 63%;
  margin: auto;
}

/* .landscape {
  height: 70%;
  width: 70%;
} */

/* .landscape {
  height: 30px;
  width: 80px;
} */

/* .square {
  height: 75px;
  width: 75px;
} */